*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Poppins', sans-serif;
    line-height: 1;
    font-weight: 400;
    color: #555;
    overflow-x: hidden;
    background-color: #f3f3f3;
}

/* Colors 
main - #006d77
second - #83c5be
third - #edf6f9
*/

/* /// Header Section /// */

.header{
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #f3f3f3;
   height: 9.6rem;
   padding: 0 4.8rem;
   position: relative;
}

a{
    text-decoration: none;
}

.logo{
    font-size: 2.2rem;
    color: #333;
    
}

.main-nav-list{
    display: flex;
    gap: 4.8rem;
    list-style: none;
    align-items: center;
}

.main-nav-link{
    font-weight: 600;
    color: #333;
    font-size: 1.8rem;
    text-decoration: none;
    transition: all .3s;
}

.main-nav-link:hover{
    color: #3ba353;
}

.nav-cta{
    padding: 1.2rem 2.4rem;
    background-color: #5ec576;
    border-radius: 3rem;
    color: #ffff;
}

.nav-cta:hover{
    color: #fff;
}

.nav-cta:hover{
    background-color: #3ba353;
}

/* /// Section Hero /// */

.section-hero{
    padding: 4.8rem 0 9.6rem 0;
}

.hero-img{
    width: 100%;
}

.hero{
    max-width: 130rem;
    margin: 0 auto;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 9.6rem;
    padding: 0 3.2rem;
}

.heading-primary{
    font-size: 5.5rem;
    font-weight: 500;
    line-height: 1.35;
    margin-bottom: 3.2rem;
}

.highlight {
    position: relative;
    color: #000;
}

.highlight::after {
    display: block;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 12;
    opacity: 0.7;
    transform: scale(1.07, 1.05) skewX(-15deg);
    background-image: linear-gradient(to top left, #39b385, #9be15d);
}

.hero-description{
    font-size: 2.2rem;
    font-weight: 600;
    color: #908c8c;
    margin-bottom: 8.5rem;
}

.btn{
    padding: 1.3rem 2.4rem;
    font-weight: 600;
    font-size: 1.8rem;
    text-decoration: none;
    transition: all .3s;
    border-radius: 3rem;
    
}

.btn--full{
    background-color: #5ec576;
    color: #fff;
    margin-right: 1.6rem;
}

.btn--full:hover{
    background-color: #3ba353;
}

.btn--outline{
    background-color: #fff;
    color: #333;
}

.btn--outline:hover{
    background-color: #f3f3f3;
    color: #3ba353;
}

/* /// Section Featured /// */

.section-featured{
    padding: 4.8rem 0 3.2rem 0;
}

.container{
    max-width: 120rem;
    padding: 0 3.2rem;
    margin: 0 auto;
}

.heading-featured-in{
    color: #888;
    text-align: center;
    margin-bottom: 2.4rem;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: 0.75px;
}

.logos{
    display: flex;
    justify-content: space-around;
}

.logos img{
    height: 3.3rem;
    filter: brightness(0);
    opacity: 50%;
}

/* /// Section - How it Works /// */

.section-how{
    padding: 9.6rem 0;
}

.container{
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 3.2rem;
}

.subheading{
    margin-bottom: -1.6rem;
    font-size: 1.6rem;
    font-weight: 600;
    display: block;
    color: #3ba353;
    text-transform: uppercase;
}

.heading-secondary{
    font-size: 4.4rem;
    margin-bottom: 9.6rem;
    line-height: 1.2;
}

.grid{
    column-gap: 6.4rem;
    display: grid;
    row-gap: 9.6rem;
    align-items: center;
}

.grid--2-cols{
    grid-template-columns: 1fr 1fr;
}

.step-img-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.step-number{
    font-size: 8.6rem;
    font-weight: 600;
    font-family: cursive;
    margin-bottom: 1.2rem;
    color: #bcb9b9;
}

.step-img{
    width: 35%;
}

.heading-tertiary{
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.2;
    color: #333;
    letter-spacing: -0.5px;
}

.step-description{
    font-size: 1.8rem;
    line-height: 1.8;
}

/* /// Section - Meals /// */

.section-meals{
    padding: 9.6rem 0;
    /* background-color: #000; */
    position: relative;
}

.center-text {
    text-align: center;
}

.subheading {
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    color: #39b385;
    text-transform: uppercase;
    margin-bottom: 1.6rem;
    letter-spacing: 0.75px;
}

.heading-secondary {
    font-size: 4.4rem;
    line-height: 1.2;
    margin-bottom: 9.6rem;
}


.meal-container-1{
    /* background-color: #000; */
    padding: 5rem;
    max-width: 120rem;
    margin: 0 auto;
    display: flex;
    gap: 9rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border: 3px;
}

.meal-container-2{
    display: none;
}

.meal-container-3{
    display: none;
}

.meal-img{
    border: 3px;
    width: 50%;
}

.meal-content {
    padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.meal-title {
    font-size: 4rem;
    color: #333;
    font-weight: 600;
    margin-bottom: 3.2rem;
    /* text-decoration: #39b385 underline; */
    padding-bottom: 2px;
    border-bottom: 3px dotted green;

}

.meal-attributes {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.meal-attribute {
    font-size: 2rem;
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.meal-icon {
    height: 2.4rem;
    width: 2.4rem;
    color: #3ba353;
}

.slider__btn {
    position: absolute;
    top: 50%;
    z-index: 10;
  
    border: none;
    font-family: inherit;
    color: #3ba353;
    background-color: #eeecec;
    border-radius: 50%;
    height: 5.5rem;
    width: 5.5rem;
    font-size: 3.25rem;
    cursor: pointer;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}
  
.slider__btn--left {
    left: 10%;
    transform: translate(-50%, -50%);
}

.slider__btn--right {
    right: 10%;
    transform: translate(50%, -50%);
}

/* /// Section Pricing /// */

.section-pricing{
    padding: 9.6rem 0;
}

.subheading{

}